{% load static %}
{% load ansi_shadow_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/LedgerLine-logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>LEDGERLINE</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <div class="ascii-terminal-style">
      <header>
        <div class="header-logo-container">
          <a href="/">
            <img src="{% static 'images/LedgerLine-logo.png' %}" alt="LEDGERLINE Logo" />
          </a>
          <span>LEDGERLINE: ATARI TERMINAL EDITION</span>
        </div>
        <nav>
          <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'unlocked_modes' %}">MODES</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'transaction_list' %}">LEDGER</a></li>
              <li><a href="{% url 'category_list' %}">CATEGORIES</a></li>
              <li>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="function-key">LOGOUT</button>
                </form>
              </li>
            {% else %}
              <li><a href="{% url 'login' %}" class="function-key">LOGIN</a></li>
              <li><a href="{% url 'register' %}" class="function-key">REGISTER</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      <main>
        {% block content %} 
        {% endblock %}
      </main>
      <footer>
        <pre class="ascii-title">
        </pre>
      </footer>
    </div>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
